
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#3a0229,#1b0132);
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: white;
}

#main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main::after{
    content:'';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#3a0229,transparent);
}

#main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
}

#Anime{
    color: #ffff;
    font-size: 26px;
    text-transform: uppercase;
    transform: translateY(-140px);
}

#Home #content{
    color: #ffff;
    padding: 30px;
}
#Home #content h2{
    margin: 20px;
    font-size: 30px;
}

#Home #content p{
    margin: 20px;
    max-width: 900px;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: Georgia, serif;
}

#Aura #text{
    color: #ffff;
    padding: 60px;
    
}
#Aura #text h2{
    margin: -10px;
    margin-left: -30px;
    font-size: 30px;
}

#Aura #text p{
    margin: 20px;
    max-width: 900px;
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: Georgia, serif;
    padding: 10px;
}
.animeQuotes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
 }

.animeQuotes h2 {
    color: white;
    border-bottom: 2px solid #030603;
    
}

.animeQuotes .quote{
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-right: 5px solid #e74c3c;
    text-align: left; 
    direction: ltr;
}

.animeQuotes .quote .text {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}

.animeQuotes .quote .character {
    font-weight: bold;
    color: #e74c3c;
    display: block;
}

